<section class="s-content">
  <div class="row masonry-wrap">
    <div class="masonry">
      <div class="grid-sizer"></div>
      
      {{# each data.posts.results}}
      <article class="masonry__brick entry format-standard" data-aos="fade-up">
        <div class="entry__thumb">
            <a href="{{postUrl slug}}" class="entry__thumb-link">
                <img src="{{image.url}}" 
                         alt="error">
            </a>
        </div>
        <div class="entry__text">
          <div class="entry__header">
              
              <div class="entry__date">
                  <a href="{{postUrl slug}}">{{{date publishedDate}}}</a>
              </div>
              <h1 class="entry__title"><a href="{{postUrl slug}}">{{{title}}}</a></h1>
              
          </div>
          <div class="entry__excerpt">
              <p>{{{content.brief}}}</p>
		          {{#if content.extended}}
                <p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
              {{/if}}
          </div>
          <div class="entry__meta">
              <span class="entry__meta-links">
                  {{{categoryList categories separator="" }}}
              </span>
          </div>
        </div>
      </article> <!-- end article -->
      {{/each}}
    </div> <!-- end masonry -->
  </div> <!-- end masonry-wrap -->
  {{>pagination}}
</section> 